@{
    ViewData["Title"] = "Home Page";
}

<main id="main">

    <!-- Fullwidth Slider -->
    <div class="home-section fullwidth-slider-fade bg-dark" id="home">

        <!-- Slide Item -->
        <section class="home-section bg-scroll bg-dark-alfa-50" data-background="images/car/corvett_c8.jpg">
            
            <div class="js-height-full container">

                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">

                        <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                            Chevrolet
                        </h1>

                        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                            Corvette Stringray C8
                        </h2>

                        <div class="local-scroll">
                            <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->
        <!-- Slide Item -->
        <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/car/wp8112164-audi-r8-v10-plus-wallpapers.jpg">
            
            <div class="js-height-full container">

                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">

                        <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                            Audi
                        </h1>

                        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                            audi r8 coupe v10 plus
                        </h2>

                        <div class="local-scroll">
                            <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->
        <!-- Slide Item -->
        <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/car/nissan.jpg">
            
            <div class="js-height-full container">

                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">

                        <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                            Nissan
                        </h2>

                        <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                            Nissan GT-R Nismo
                        </h1>

                        <div>
                            <a href="pages-pricing-1.html" class="btn btn-mod btn-border-w btn-medium btn-round">see more</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->

    </div>
    <!-- End Fullwidth Slider -->
    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">

            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                About Company
            </h2>

            <div class="section-text mb-50 mb-sm-20">
                <div class="container">
                    <p>
                        Design is&nbsp;not making beauty, beauty emerges from selection, affinities, integration, love.
                    </p>
                </div>

            </div>

            <div class="row">

                <!-- Team item -->
                <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                    <div class="team-item">

                        <div class="team-item-image">

                            <img src="images/team/team-1.jpg" alt="" />

                            <div class="team-item-detail">

                                <h4 class="font-alt normal">Hello & Welcome!</h4>

                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                                </p>

                                <div class="team-social-links">
                                    <a href="https://www.facebook.com/wachira.pach/" target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                </div>

                            </div>
                        </div>

                        <div class="team-item-descr font-alt">

                            <div class="team-item-name">
                                Petch Wachira
                            </div>

                            <div class="team-item-role">
                                Developer
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Team item -->
                <!-- Team item -->
                <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">

                        <div class="team-item-image">

                            <img src="images/team/team-2.jpg" alt="" />


                        </div>

                        <div class="team-item-descr font-alt">

                            <div class="team-item-name">
                            </div>

                            <div class="team-item-role">
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Team item -->
                <!-- Team item -->
                <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">

                        <div class="team-item-image">

                            <img src="images/team/team-3.jpg" alt="" />

                            <div class="team-item-detail">

                                <h4 class="font-alt normal">Whats Up!</h4>

                                <p>
                                    Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                                </p>

                                <div class="team-social-links">
                                    <a href="https://www.facebook.com/PoySorravich" target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                </div>

                            </div>
                        </div>

                        <div class="team-item-descr font-alt">

                            <div class="team-item-name">
                                Poy Sorravich
                            </div>

                            <div class="team-item-role">
                                Developer
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Team item -->

            </div>


        </div>
    </section>
    <!-- End About Section -->
    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->
    <!-- Blog Section -->
    <section class="page-section" id="products">
        <div class="container relative">

            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                Products
            </h2>

            <div class="row multi-columns-row">

                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                    <div class="post-prev-img">
                        <img src="images/blog/post-prev-1.jpg" alt="" />
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">New Web Design Trends</a>
                    </div>

                    <div class="post-prev-text">
                        Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                        consectetur fermentum nibh volutpat, accumsan purus.
                    </div>

                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- End Post Item -->
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">

                    <div class="post-prev-img">
                        <img src="images/blog/post-prev-2.jpg" alt="" />
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">Minimalistic Design Forever</a>
                    </div>

                    <div class="post-prev-text">
                        Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                        consectetur fermentum nibh volutpat, accumsan purus.
                    </div>

                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- End Post Item -->
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">

                    <div class="post-prev-img">
                        <img src="images/blog/post-prev-3.jpg" alt="" />
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">Hipster&rsquo;s Style in&nbsp;Web</a>
                    </div>

                    <div class="post-prev-text">
                        Maecenas  volutpat, diam enim sagittis quam, id porta quam. Sed id dolor
                        consectetur fermentum nibh volutpat, accumsan purus.
                    </div>

                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- End Post Item -->

            </div>

        </div>
    </section>
    <!-- End Blog Section -->
    <!-- Call Action Section -->
    <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="images/full-width-images/section-bg-2.jpg">
        <div class="container relative">

            <div class="row">

                <div class="col-sm-6">

                    <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                        <div class="banner-content">
                            <h3 class="banner-heading font-alt">Looking for exclusive digital services?</h3>
                            <div class="banner-decription">
                                Proin fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor.
                                Integer non dapibus diam, ac eleifend lectus.
                            </div>
                            <div class="local-scroll">
                                <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 banner-image wow fadeInUp">
                    <img src="images/promo-1.png" alt="" />
                </div>

            </div>

        </div>
    </section>
    <!-- End Call Action Section -->
    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">

            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Contact
            </h2>

            <div class="row mb-60 mb-xs-40">

                <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <div class="row">

                        <!-- Phone -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Call Us
                                </div>
                                <div class="ci-text">
                                    +61 9 9999 9999
                                </div>
                            </div>
                        </div>
                        <!-- End Phone -->
                        <!-- Address -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Address
                                </div>
                                <div class="ci-text">
                                    245 Quigley Blvd, Ste K
                                </div>
                            </div>
                        </div>
                        <!-- End Address -->
                        <!-- Email -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Email
                                </div>
                                <div class="ci-text">
                                    support@bestlooker.pro
                                </div>
                            </div>
                        </div>
                        <!-- End Email -->

                    </div>
                </div>

            </div>

            <!-- Contact Form -->
            <div class="row">
                <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">

                    <form class="form contact-form" id="contact_form">
                        <div class="clearfix">

                            <div class="cf-left-col">

                                <!-- Name -->
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="input-md round form-control" placeholder="Name" pattern=".{3,100}" required aria-required="true">
                                </div>

                                <!-- Email -->
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="input-md round form-control" placeholder="Email" pattern=".{5,100}" required aria-required="true">
                                </div>

                            </div>

                            <div class="cf-right-col">

                                <!-- Message -->
                                <div class="form-group">
                                    <textarea name="message" id="message" class="input-md round form-control" style="height: 88px;" placeholder="Message"></textarea>
                                </div>

                            </div>

                        </div>

                        <div class="clearfix">

                            <div class="cf-left-col">

                                <!-- Inform Tip -->
                                <div class="form-tip pt-20">
                                    <i class="fa fa-info-circle"></i> All the fields are required
                                </div>

                            </div>

                            <div class="cf-right-col">

                                <!-- Send Button -->
                                <div class="align-right pt-10">
                                    <button class="submit_btn btn btn-mod btn-medium btn-round" id="submit_btn" aria-controls="result">Submit Message</button>
                                </div>

                            </div>

                        </div>



                        <div id="result" role="region" aria-live="polite" aria-atomic="true"></div>
                    </form>

                </div>
            </div>
            <!-- End Contact Form -->

        </div>
    </section>
    <!-- End Contact Section -->
    <!-- Google Map -->
    <div class="google-map">

        <a href="#" class="map-section">

            <div class="map-toggle" aria-hidden="true">
                <div class="mt-icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="mt-text font-alt">
                    <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                    <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
                </div>
            </div>

        </a>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24572.368311964965!2d-75.602613!3d39.65993!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c703f3d191cf13%3A0xf4674106f987fe3a!2zMjQ1IFF1aWdsZXkgQmx2ZCBTdGUgSywgTmV3IENhc3RsZSwgREUgMTk3MjAsINCh0L_QvtC70YPRh9C10L3RliDQqNGC0LDRgtC4INCQ0LzQtdGA0LjQutC4!5e0!3m2!1suk!2sua!4v1584450429598!5m2!1suk!2sua" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" loading="lazy"></iframe>
    </div>
    <!-- End Google Map -->

</main>