@{
    ViewData["Title"] = "Home Page";
}

<main id="main">

    <!-- Fullwidth Slider -->
    <div class="home-section fullwidth-slider-fade bg-dark" id="home">

        <!-- Slide Item -->
        <section class="home-section bg-scroll bg-dark-alfa-50" data-background="images/car/corvett_c8.jpg">
            
            <div class="js-height-full container">

                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">

                        <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                            Chevrolet
                        </h1>

                        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                            Corvette Stringray C8
                        </h2>

                        <div class="local-scroll">
                            <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->
        <!-- Slide Item -->
        <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/car/wp8112164-audi-r8-v10-plus-wallpapers.jpg">
            
            <div class="js-height-full container">

                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">

                        <h1 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                            Audi
                        </h1>

                        <h2 class="hs-line-14 font-alt mb-50 mb-xs-30">
                             r8 coupe v10 plus
                        </h2>

                        <div class="local-scroll">
                            <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->
        <!-- Slide Item -->
        <section class="home-section bg-scroll bg-dark-alfa-30" data-background="images/car/nissan.jpg">
            
            <div class="js-height-full container">

                <!-- Hero Content -->
                <div class="home-content">
                    <div class="home-text">

                        <h2 class="hs-line-8 no-transp font-alt mb-50 mb-xs-30">
                            Nissan
                        </h2>

                        <h1 class="hs-line-14 font-alt mb-50 mb-xs-30">
                            GT-R Nismo
                        </h1>

                        <div class="local-scroll">
                            <a href="#products" class="btn btn-mod btn-border-w btn-medium btn-round d-none d-sm-inline-block">See More</a>
                        </div>

                    </div>
                </div>
                <!-- End Hero Content -->

            </div>
        </section>
        <!-- End Slide Item -->

    </div>
    <!-- End Fullwidth Slider -->
    <!-- About Section -->
    <section class="page-section" id="about">
        <div class="container relative">

            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                About Company
            </h2>

            <div class="section-text mb-50 mb-sm-20">
                <div class="container">
                    <p>
                        We proud to present our new fake showroom car. Enjoy!!
                    </p>
                </div>

            </div>

            <div class="row">

                <!-- Team item -->
                <div class="col-sm-4 mb-xs-30 wow fadeInUp">
                    <div class="team-item">

                        <div class="team-item-image">

                            <img src="~/images/profile/petch.jpg" />

                            <div class="team-item-detail">

                                <h4 class="font-alt normal">Hello & Welcome!</h4>

                                <p>
                                    Wachira Kaewsri 63080500250
                                </p>

                                <div class="team-social-links">
                                    <a href="https://www.facebook.com/wachira.pach/" target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                </div>

                            </div>
                        </div>

                        <div class="team-item-descr font-alt">

                            <div class="team-item-name">
                                Petch Wachira
                            </div>

                            <div class="team-item-role">
                                Developer
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Team item -->
                <!-- Team item -->
                <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item">

                        <div class="team-item-image">

                            <img src="~/images/profile/logocompany.png" />


                        </div>

                        <div class="team-item-descr font-alt">

                            <div class="team-item-name">
                            </div>

                            <div class="team-item-role">
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Team item -->
                <!-- Team item -->
                <div class="col-sm-4 mb-xs-30 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">

                        <div class="team-item-image">

                            <img src="~/images/profile/poy.jpg" />

                            <div class="team-item-detail">

                                <h4 class="font-alt normal">Whats Up!</h4>

                                <p>
                                    Sorravich Zaicome 63080500256 
                                </p>

                                <div class="team-social-links">
                                    <a href="https://www.facebook.com/PoySorravich" target="_blank"><i class="fa fa-facebook"></i><span class="sr-only">Facebook profile</span></a>
                                </div>

                            </div>
                        </div>

                        <div class="team-item-descr font-alt">

                            <div class="team-item-name">
                                Poy Sorravich
                            </div>

                            <div class="team-item-role">
                                Developer
                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Team item -->

            </div>


        </div>
    </section>
    <!-- End About Section -->
    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->
    <!-- Blog Section -->
    <section class="page-section" id="products">
        <div class="container relative">

            <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
                Products
            </h2>

            <div class="row multi-columns-row">

                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                    <div class="post-prev-img">
                        <img src="~/images/car/corvett320-200.jpg" />
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">Chevrolet Corvett Stringray C8</a>
                    </div>

                    <div class="post-prev-text">
                        The eighth-generation Corvette, bold and breathtaking, is a beautifully sculpted mid-engine sports car with potent aerodynamics, slicing the air with sheer precision.
                    </div>

                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- End Post Item -->
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="2s">

                    <div class="post-prev-img">
                        <img src="~/images/car/audi320-200.jpg" />
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">Audi r8 coupe v10 plus</a>
                    </div>

                    <div class="post-prev-text">
                        The Audi R8 performance Coupe brings the racing-inspired performance you seek with uncompromised styling. This is your opportunity to enjoy the performance.
                    </div>

                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- End Post Item -->
                <!-- Post Item -->
                <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.3s" data-wow-duration="2s">

                    <div class="post-prev-img">
                        <img src="~/images/car/nissan320-200.jpg" />
                    </div>

                    <div class="post-prev-title font-alt">
                        <a href="">Nissan GT-R Nismo</a>
                    </div>

                    <div class="post-prev-text">
                        The built-to-order special edition uses new, high-precision weight-balanced parts dialed in with tighter tolerances, delivering snappier revs and quicker turbo spooling.
                    </div>

                    <div class="post-prev-more">
                        <a href="" class="btn btn-mod btn-gray btn-round">Read More <i class="fa fa-angle-right"></i></a>
                    </div>

                </div>
                <!-- End Post Item -->

            </div>

        </div>
    </section>
    <!-- End Blog Section -->
    <!-- Call Action Section -->
    <section class="page-section pt-0 pb-0 banner-section bg-dark" data-background="images/contact/black-supercar-mclaren.jpg">
        
        <div class="container relative">

            <div class="row">

                <div class="col-sm-6">

                    <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                        <div class="banner-content">
                            <h3 class="banner-heading font-alt">Looking for exclusive digital services?</h3>
                            <div class="banner-decription">
                                If you have a question or want some more support. 
                                We have an exclusive digital service that can help you with anything!
                            </div>
                            <div class="local-scroll">
                                <a href="#contact" class="btn btn-mod btn-w btn-medium btn-round">Lets talk</a>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-6 banner-image wow fadeInUp">
                   <img src="~/images/promo-111111.png" />
                </div>

            </div>

        </div>
    </section>
    <!-- End Call Action Section -->
    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">

            <h2 class="section-title font-alt mb-70 mb-sm-40">
                Contact
            </h2>

            <div class="row mb-60 mb-xs-40">

                <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                    <div class="row">

                        <!-- Phone -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Call Us
                                </div>
                                <div class="ci-text">
                                    +61 9 9999 9999
                                </div>
                            </div>
                        </div>
                        <!-- End Phone -->
                        <!-- Address -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Address
                                </div>
                                <div class="ci-text">
                                    King Mongkut's University of Technology Thonburi
                                </div>
                            </div>
                        </div>
                        <!-- End Address -->
                        <!-- Email -->
                        <div class="col-sm-6 col-lg-4 pt-20 pb-20 pb-xs-0">
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    Email
                                </div>
                                <div class="ci-text">
                                    support@bestlooker.pro
                                </div>
                            </div>
                        </div>
                        <!-- End Email -->

                    </div>
                </div>

            </div>

            

        </div>
    </section>
    <!-- End Contact Section -->
    <!-- Google Map -->
    <div class="google-map">

        <a href="#" class="map-section">

            <div class="map-toggle" aria-hidden="true">
                <div class="mt-icon">
                    <i class="fa fa-map-marker"></i>
                </div>
                <div class="mt-text font-alt">
                    <div class="mt-open">Open the map <i class="fa fa-angle-down"></i></div>
                    <div class="mt-close">Close the map <i class="fa fa-angle-up"></i></div>
                </div>
            </div>

        </a>

        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d124020.73905029696!2d100.44240621773281!3d13.73974272304068!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sking%20mongkut&#39;s%20university%20technology%20north%20bangkok!5e0!3m2!1sth!2sth!4v1662199172848!5m2!1sth!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- End Google Map -->

</main>